@page
@model Strover.Pages.Payments.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localized

<h2>Details</h2>
<div>
  <h4>Payment</h4>
    <hr />
        @Localized["Make a wire transfer using following information:"]
    <dl class="dl-horizontal">
        <!-- Payment details -->
        <dt>
            @Html.LabelFor(model => model.Beneficiary)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Beneficiary)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Amount)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Reference)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
</div>
<div>
    <a asp-page="/Orders/Index">Back</a>
</div>

