@page 
@model Strover.Pages.Payments.PayModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localized

@{
   ViewData["Title"] = @Localized["Pay by wire transfer"];
}

<h2>@Localized["Pay by wire transfer"]</h2>

    <p>
        @Localized["Make a wire transfer using the information below and click on the Paid-button. Some bank apps like Belfius and KBC allow you to create the wire transfer by scanning the QR code."]
    </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Beneficiary)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Beneficiary)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AccountNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Message)
                    </dd>
                </dl>
            </div>
            <div class="col-xs-12 col-md-6">
                <div id="PaymentCode"></div>
            </div>
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="PaymentId"/>
        <input type="submit" value=@Localized["Paid"] class="btn btn-default">
    </form>

@section Scripts
{
    <script type="text/javascript" src="~/lib/qrcode/qrcode.js"></script>
    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("PaymentCode"), {
            text : "@Html.Raw(Model.PayCode)",
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.M
        });
    </script>
}