@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Strover.Application;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localized


<div class="row">
    <div class="col-md-3">
        <h2>@Localized["Orders"]</h2>
        <ul>
            <li><a asp-page="/Orders/Create">@Localized["New Order"]</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Localized["Manage"]</h2>
        <ul>
            <li><a asp-page="/Orders/Index">@Localized["My Orders"]</a></li>
    @if (User.Identity.IsAuthenticated && User.IsInRole(ApplicationRole.Administrator))
    {
            <li><a asp-page="/Products/Index">@Localized["Manage products"]</a></li>
            <li><a asp-page="/Payments/Wiretransfer/Index">@Localized["Manage payments"]</a></li>
    }
        </ul>
    </div>
</div>
