@page
@model Strover.Pages.Orders.CreateModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localized

@{
    ViewData["Title"] = @Localized["Create"];
}

<h2>@Localized["Create"]</h2>

<h4>@Localized["Order"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!-- Buyer details -->
            <div class="form-group">
                <label asp-for="BuyerName" class="control-label"></label>
                <input asp-for="BuyerName" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="BuyerPhone" class="control-group"></label>
                <input asp-for="BuyerPhone" class="form-control" />
            </div>
            <hr />
            
            <!-- delivery details -->
            <div class="form-group">
                <label asp-for="WillBePickedUp" class="control-label"></label>
                <input asp-for="WillBePickedUp" class="form-control" />
            </div>
            <div id="deliveryDetails">
                <div class="form-group">
                    <label asp-for="DeliveryStreet" class="control-label"></label>
                    <input asp-for="DeliveryStreet" class="form-control"/>
                </div>  
                <div class="form-group">
                    <label asp-for="DeliveryHouseNumber" class="control-label"></label>
                    <input asp-for="DeliveryHouseNumber" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryCity" class="control-label"></label>
                    <input asp-for="DeliveryCity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DeliveryComments" class="control-label"></label>
                    <input asp-for="DeliveryComments" class="form-control" />
                </div>         
            </div>

            <!-- Order selection --> 
            @for (int i = 0; i < Model.ProductIds.Count; ++i) {
                <div class="form-group">
                    <label class="control-label">@Model.ProductNames[i]</label>
                    <input type="hidden" asp-for="ProductNames[i]" class="form-control" /> 
                    <input type="hidden" asp-for="ProductIds[i]" class="form-control" />                   
                    <input asp-for="OrderedQuantities[i]" class="form-control"/>
                </div>
            }

            <div class="form-group">
                <input type="submit" value=@Localized["Create"] class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">@Localized["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
    $(document).ready(function () {
        $('#WillBePickedUp').change( function(event) 
        {
        if (event.target.checked)
            $('#deliveryDetails').hide();
        else
            $('#deliveryDetails').show();
        });
    });
    </script>
}
