@page
@model Strover.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- Buyer details -->
        <dt>
            @Html.DisplayNameFor(model => model.Order.Buyer.Name)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Buyer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Buyer.TelephoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Buyer.TelephoneNumber)
        </dd>
        <hr />

        @if (Model.Order.Delivery.DeliveryType == Strover.Models.DeliveryType.Pickup)
        {
        <dt>
              Pickup details
        </dt>
        <dd>
            Will be picked up on March 23 between 9h and 12h at kleuterschool Antoontje
        </dd>  
        }
        else
        {
        <dt>
            Delivery details
        </dt>
        <dd>
            Will be delivered at home on March 23 between 9h and 13h at the address given below (only Sint-Antonius, Zoersel, Halle, Schilde or Westmalle
        </dd>  
        <dt>
            @Html.DisplayNameFor(model => model.Order.Delivery.DeliveryAddress.Street)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Delivery.DeliveryAddress.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Delivery.DeliveryAddress.Number)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Delivery.DeliveryAddress.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Delivery.DeliveryAddress.City)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Delivery.DeliveryAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Delivery.Comments)
        </dt>    
        <dd>
            @Html.DisplayFor(model => model.Order.Delivery.Comments)
        </dd>
        }
        <hr />

        <!-- Order selection --> 
        @foreach (var orderedItem in Model.Order.OrderedItems.OrderBy(item => item.Product.SequenceNumber)) {
            <dt>
                @orderedItem.Product.Name
            </dt>
            <dd>
                @orderedItem.Quantity (@orderedItem.Product.Price eur/stuk)
            </dd>
        }

        <dt>
            total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Cost) euro
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Seller.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Seller.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.Class)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>