@page
@model Strover.Pages.Orders.IndexModel
@using Strover.Models;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].Buyer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].OrderedQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order[0].PaymentState)  
                </th>
                <th/>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @if (item.PaymentState == PaymentState.Paid){
                    @Html.Raw("Paid");    
                }
                else if (item.PaymentState == PaymentState.BeingProcessed){
                    @Html.Raw("Pending");                    
                }
                else {
                    @Html.Raw("")
                }
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page-handler="Pay">Pay</a> | 
<a asp-page-handler="Export">Export</a>
