@page
@model Strover.Pages.Orders.IndexModel
@using Strover.Models;

@{
    ViewData["Title"] = @Localized["My orders"];
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localized

<h2>@Localized["My orders"]</h2>
<p>@Localized["Below you find an overview of all orders that you've created. By clicking the pay-button below the orders, you can pay the open amount on all unpaid orders."]</p>
<p>
    <a asp-page="Create">@Localized["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Localized["Name"]
                </th>
                <th>
                    @Localized["Number of items"]
                </th>
                <th>
                    @Localized["Cost"]
                </th>
                <th/>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrdersWithoutPayment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">@Localized["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">@Localized["Delete"]</a>
            </td>
        </tr>
}
        <tr>
            <td/>
            <td/>
            <td>
               @Model.AmountToPay 
            </td>
            <td>
                <a asp-page-handler="Pay">@Localized["Pay"]</a>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Localized["Name"]
                </th>
                <th>
                    @Localized["Number of items"]
                </th>
                <th>
                    @Localized["Cost"]
                </th>
                <th>
                    @Localized["State payment"]
                </th>
                <th/>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrdersWithPayment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @if (item.PaymentState == PaymentState.Paid){
                    <a asp-page="/Payments/Details" asp-route-id="@item.PaymentId">@Html.Raw("Paid")</a>;    
                }
                else if (item.PaymentState == PaymentState.BeingProcessed){
                    <a asp-page="/Payments/Details" asp-route-id="@item.PaymentId">@Html.Raw("Pending")</a>;                    
                }
                else {
                    @Html.Raw("")
                }
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">@Localized["Details"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
